<div class="section">                                                                                                                                                            

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h1 class="page-title">关于甜品的种种</h1>

		<!-- BEGIN .blog-title -->
		<div class="blog-title clearfix">
			<div class="fl">
				<h3> 吃西餐时应该怎样点甜点？</h3>
			</div>

			<div class="blog-content clearfix">
				<div class="block-img1"><img src="images/sweet1.jpg" alt="" class="prev-image" /></div>
				<p>		很多人以为吃西餐一定要前菜、主菜、甜品全点了才觉得是完整的西餐，其实不需要。我们去西餐厅吃饭时服务员都会给每位一份菜单，但这份菜单一般都不包括甜品，千万不要主动要求连甜品也一起点了。一般在吃完主菜后，在服务员问大家要否看看甜品单的那个时候才点甜品比较符合西餐礼仪的习惯。因为万一吃完主菜后太饱了，就没有胃口再吃甜品，也就不需要再点了。</p>
				<p>		不过也有例外，尤其是在一些法国餐厅，有些服务员会在一开始点菜时候就提醒顾客一些需要长时间准备的典型的法式甜品可以先点。在比较高档的餐厅，奶酪拼盘也会列在甜品单中。如果有胃口，可以考虑叫一份奶酪与朋友们在吃甜品前一起分享。有些甜品如一块漂亮的蛋糕，跟服务员说明分吃的要求，他会按照餐桌的人数提供每人一个甜品勺子或甜品叉子由大家自己分着吃。最好先吃奶酪后才吃甜品，因为配主菜的葡萄酒也可以配奶酪一起吃;但一般甜品因为甜的关系，是不适合配一般的红或白葡萄酒，必须配甜葡萄酒。</p>
				<p>		除了甜品的葡萄酒，咖啡或茶也都适合配甜品的。如果两种饮料都要，最好不要混着喝，先喝完酒后才喝咖啡或茶，因为咖啡和茶会盖住葡萄酒的甜味，这样就不能完美的享受甜葡萄酒的味道。若觉得点一瓶甜葡萄酒喝不完，也可以问服务员能否点按杯卖的甜酒 (Sweet wine by the glass)。葡萄酒如果喝不完也不好打包带走，所以不要多点。</p>
				<p>		若怕喝了咖啡睡不着，可以点无咖啡因的咖啡(Decaf);红茶一般也比绿茶含更高的咖啡因，可以考虑点花茶，一般比较普遍的西式花茶为甘菊花或薄荷茶，很温和。咖啡适合加黄糖，茶适合加白糖，服务好的餐厅都会提供不同种类的糖。礼仪方面要注意配咖啡或茶杯的小勺子只是用来搅拌糖或牛奶，搅拌好之后应放在咖啡或茶的托碟上，而不是留在杯子里，也不能把它当勺子一样舀着茶或咖啡送到嘴里喝。</p>
				<!-- END .blog-content -->
			</div>
			<!-- END .blog-title -->
		</div>  
		</li>
		<!-- END.col-main -->


