<div class="section">                                                                                                                                                            

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h1 class="page-title">关于甜品的种种</h1>

		<!-- BEGIN .blog-title -->
		<div class="blog-title clearfix">
			<div class="fl">
				<h3> 几种常见甜品的介绍 </h3>
			</div>

			<div class="blog-content clearfix">
			
				<div class="block-img1"><img src="images/heisenlin.jpg" alt="" class="prev-image" /></div>
				<h4><strong> 黑森林</strong> </h4>
				<p>    黑森林蛋糕被称作黑森林的特产之一，德文原意为“黑森林樱桃奶油蛋糕”。正宗的黑森林蛋糕一点也不黑，不含黑色的巧克力。目前德国大部分的糕饼师傅在制作黑森林蛋糕时，也使用了不少巧克力。</p>
				<p>    现在黑森林蛋糕的作法虽已有多种，但都不可缺少樱桃，还有作为配料的樱桃汁和樱桃酒。以前德国某种黑森林蛋糕的樱桃含量太少而被控告，德国政府因此作出了相关规定，黑森林蛋糕的鲜奶油部分中，至少得含有80克的樱桃汁。 </p>
				<p>    黑森林蛋糕的雏形最早出现于南部黑森林地区。当年每当樱桃丰收时，这里的农妇们除了将过剩的樱桃制成果酱外，也会在作蛋糕时，将樱桃一颗颗塞在蛋糕的夹层里，或是作为装饰塞在蛋糕的上面。而在打制蛋糕的鲜奶油时，加入樱桃汁。制作蛋糕坯时，面糊中加入樱桃汁和樱桃酒。这种蛋糕从黑森林传到外地后，也就变成所谓的黑森林蛋糕了。</p>
				<div class="block-img1"><img src="images/tilamisu.jpg" alt="" class="prev-image" /></div>
				<h4><strong>提拉米苏</strong></h4>
				<p>    你可以不懂意大利文，但一定要记住『Tiramisu提拉米苏』这个词儿，因为这是目前各大咖啡厅、烘焙门市及西餐厅最IN的 时髦甜点，以其爽俐醇郁的口感，与揉合起司、咖啡与酒香的成人级风味，狠狠抢去芝士蛋糕的风头。</p>
				<p>    关于提拉米苏的由来，有一个温馨的故事：二战时期，一个意大利士兵要出征了，可是家里已经什么也没有了，爱他的妻子为了给他准备干粮，把家里所有能吃的饼干、面包全做进了一个糕点里，那个糕点就叫提拉米苏。每当这个士兵在战场上吃到提拉米苏就会想起他的家，想起家中心爱的人。提拉米苏，Tiramisu，在意大利文里，有 “ 带我走 ” 的含义，带走的不只是美味，还有爱和幸福。一层浸透了Espresso咖啡与酒（Masala、Rum或Brandy）、质感和海绵蛋糕有点像的手指饼干，一层混合了最适合专门用来做Tiramisu的芝士、蛋、鲜奶油和糖的芝士糊，层层叠上去，上头再撒一层薄薄的可可粉……这就是提拉米苏Tiramisu。</p>
				<div class="block-img1"><img src="images/zhishidangao.jpg" alt="" class="prev-image" /></div>
				<h4><strong>芝士蛋糕</strong></h4>
				<p>
				     芝士蛋糕，或起司蛋糕、吉士蛋糕，是西方甜点的一种。有着柔软的上层，混合了特殊的芝士，如 ricotta cheese，或是 cream cheese，再加上糖和其它的配料，如鸡蛋、奶油和水果等。芝士蛋糕通常都以饼干做为底层，有固定的几种口味，如香草芝士蛋糕，巧克力芝士蛋糕等，至于表层加上的装饰，常常是草莓或蓝莓.</p>
				<div class="block-img1"><img src="images/musidangao.jpg" alt="" class="prev-image" /></div>
				<h4><strong>慕思蛋糕</strong></h4>
				<p> 
				  慕斯蛋糕最早出现在美食之都法国巴黎，最初大师们在奶油中加入起稳定作用和改善结构，口感和风味的各种辅料，使之外型，色泽，结构，口味变化丰富，更加自然纯正，冷冻后食用其味无穷，成为蛋糕中的极品。 
				      慕斯与布丁一样属于甜点的一种，其性质较布丁更柔软，入口即化。制作慕斯最重要的是胶冻原料如琼脂、鱼胶粉、果冻粉等，现在也有专门的慕斯粉了。另外制作时最大的特点是配方中的蛋白、蛋黄、鲜奶油都须单独与糖打发，再混入一起拌匀，所以质地较为松软，有点像打发了的鲜奶油。慕斯使用的胶冻原料是动物胶，所以需要置于低温处存放。 </p>
					 <!-- END .blog-content -->
			</div>
			<!-- END .blog-title -->
		</div>  
		</li>
		<!-- END.col-main -->


