<div class="section">                                                                                                                                                            

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h1 class="page-title">关于甜品的种种</h1>

		<!-- BEGIN .blog-title -->
		<div class="blog-title clearfix">
			<div class="fl">
				<h3> 几种常见咖啡的介绍 </h3>
			</div>

			<div class="blog-content clearfix">
			
				<div class="block-img1"><img src="images/kabuqinuo.jpg" alt="" class="prev-image" /></div>
				<h4><strong> 卡布奇诺 </strong> </h4>
				<p> 一般是1\3浓缩咖啡,1\3蒸汽牛奶.1\3泡沫牛奶,最好撒加上肉桂粉.但中国一般的小咖啡店很少看到加肉桂粉的,很多都换成了巧克力粉.</p>
				<div class="block-img1"><img src="images/nongsuo.jpg" alt="" class="prev-image" /></div>
				<h4><strong>浓缩咖啡</strong></h4>
				<p>意大利浓缩咖啡用奶泡,美式浓缩用水泡 </p>
				
				<div class="block-img1"><img src="images/natie.jpg" alt="" class="prev-image" /></div>
				<h4><strong>拿铁</strong></h4>
				<p>也叫奶特: 1\4的浓缩咖啡,2\4的牛奶,1\4的奶泡.牛奶味道特别重,端上来会象彩虹鸡尾酒一样有层次的.味道适合女孩子.</p>
				<div class="block-img1"><img src="images/lanshan.jpg" alt="" class="prev-image" /></div>
				<h4><strong>蓝山咖啡</strong></h4>
				<p>酸味、甜味、苦味基本调合的比较匀.要特别注意世界上80%的蓝山都出口日本,所以中国是少之又少,一般咖啡店都是假的或者混合的.纯蓝山很少有 </p>
				<div class="block-img1"><img src="images/mocha.jpg" alt="" class="prev-image" /></div>
				<h4><strong>摩卡咖啡</strong></h4>
				<p>1/3浓缩,1/3热巧克力和1/3牛奶泡沫,最后再撒上巧克力粉.摩卡咖啡豆有比较柔和的酸味,但是被很多咖啡店冲的太甜,是尝不出原味的</p>
				<div class="block-img1"><img src="images/tanshao.jpg" alt="" class="prev-image" /></div>
				<h4><strong>炭烧咖啡</strong></h4>
				<p>重度烘培会让人觉得比较苦涩，但是最大限度保持了咖啡的原味.还特意问过咖啡店的帅哥老板咖啡豆的混合比例现在贡献出来--是哥伦比亚2,巴西2,曼特宁1.5,爪哇4.5左右</p>
				<div class="block-img1"><img src="images/iresh.jpg" alt="" class="prev-image" /></div>
				<h4><strong>爱尔兰咖啡</strong></h4>
				<p>爱尔兰威士忌加方糖,酒精灯烧化后倒入咖啡和鲜奶油.也是很有名的,追求品位和与众不同的小女生会喜欢. </p>
				<div class="block-img1"><img src="images/bingdi.jpg" alt="" class="prev-image" /></div>
				<h4><strong>冰滴咖啡</strong></h4>
				<p>是一种特殊过滤方式冲泡的冰咖啡.说是冰咖啡其实并不冰,只是常温的.一般也用混合咖啡豆,这种方式冲出来的咖啡很清淡的</p>
				<!-- END .blog-content -->
			</div>
			<!-- END .blog-title -->
		</div>  
		</li>
		<!-- END.col-main -->


