<div class="section">

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">
		<h2 class="page-title">欢迎来到或或网上银行</h2>
		<div class="blog-content clearfix">
			<p><img src="images/succ.png" alt="" class="prev-image" style="width:50px;height:50px;">
			<h1><strong>付款成功。。。</strong></h1></p>
		</div>
		<%= link_to("继续购买",{:controller=>"store",:action=>"show_after"},:class=>"button2")%>
		<%= link_to("返回主页",{:controller=>"store",:action=>"index"},:class=>"button2")%>
		</li>
	</ul>
</div>
