<div class="section">                                                                                                                                                            

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">网站简介：</h2>

		<!-- BEGIN .blog-title -->
		<div class="blog-title clearfix">
			<div class="fl">
				<p>本网站是一个小型的甜品购物网站。使用ruby on rails框架。</p></br>
			</div>
		</div>

		<h2 class="page-title">联系方式：</h2>
		
		<div class="blog-title clearfix">
			<div class="fl">
				<p>董雪</p>
				<p>Email:abbydongwayne@gmail.com</p>
				<p>Email:499058639@qq.com</p>
			</div>
		</div>

		<h2 class="page-title">意见和建议：</h2>

		<div class="blog-title clearfix">
			<div class="fl">
				<p>如果有什么意见或建议</p>
				<p>请通过发送邮件的方式联系我们</p>
			</div>
		</div>

		<li>
	</ul>
<div>

