<div class="section">

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">Welcome!</h2>

		<!-- BEGIN .blog-title -->
		<div class="blog-title clearfix">
			<div class="fl">
				<p>本网站是一个小型的甜品购物网站。使用ruby on rails框架。</p></br>
				<p><%= link_to '了解更多', about_url, :class=>"btn btn-primary btn-large" %></p>
			</div>
			<div class="comment-count fr">
				<h3>喵~</h3>
				<div class="comment-point"></div>
			</div>
			<div class="blog-content clearfix">
				<div class="block-img1"><img src="images/im1.jpg" alt="" class="prev-image" /></div>
				<p>那一天</p>
				<p>我做了爱的甜点</p>
				<p>期盼得到如花的褒言</p>
				<p>而她</p>
				<p>莫名地溜得远远</p>
			
				<div class="block-img1"><img src="images/im2.jpg" alt="" class="prev-image" /></div>

				<p>寻到她</p>
				<p>已在红尘里翩翩</p>
				<p>甩过一副冰冷的脸</p>
				<p>原来</p>
				<p>她胃口早已改变</p>

				<div class="block-img1"><img src="images/im3.jpg" alt="" class="prev-image" /></div>
			
				<p>为什么</p>
				<p>你总是心不在焉</p>
				<p>把虚荣当做外衣穿</p>
				<p>花开</p>
				<p>对着墙外贪婪的眼</p>

				<div class="block-img1"><img src="images/im4.jpg" alt="" class="prev-image" /></div>

				<p>做甜点</p>
				<p>时刻保持着新鲜</p>
				<p>盼旧梦还能重圆</p>
				<p>直到</p>
				<p>枯了沧海烂了桑田</p>
				<!-- END .blog-content -->
			</div>
			<!-- END .blog-title -->
		</div>	
		</li>
		<!-- BEGIN .col-sidebar -->
		<li class="col-sidebar">

		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">关于甜品的种种</h4></div>
			<ul>
				<li><%= link_to('吃西餐时应该怎样点甜品？',{:controller=>"choose",:action=>"blog1"}) %></li>
				<li><%= link_to('几种常见蛋糕介绍。',{:controller=>"choose",:action=>"blog2"}) %></li>
				<li><%= link_to('几种常见咖啡介绍。',{:controller=>"choose",:action=>"blog3"}) %></li>
			</ul>
		</div>

		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">标签</h4></div>
			<ul class="wp-tag-cloud clearfix">
				<li><a href="#">巧克力</a></li>
				<li><a href="#">糖果</a></li>
				<li><a href="#">蛋糕</a></li>
				<li><a href="#">饼干</a></li>
			</ul>
		</div>

		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">Recent Posts</h4></div>

			<ul class="latest-posts-list clearfix">

				<li class="clearfix">
				<div class="lpl-img">
					<a href="blog-single.html" rel="bookmark">
						<img width="66" height="66" src="images/blog-thumb1.jpg" alt="" />
					</a>
				</div>   
				<div class="lpl-content">
					<h6><a href="blog-single.html" rel="bookmark">Dasellus ac nibh urna donec 
							ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
				</div>
				</li>

				<li class="clearfix">
				<div class="lpl-img">
					<a href="blog-single.html" rel="bookmark">
						<img width="66" height="66" src="images/blog-thumb2.jpg" alt="" />
					</a>
				</div>
				<div class="lpl-content">
					<h6><a href="blog-single.html" rel="bookmark">Dasellus ac nibh urna donec 
							ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
				</div>
				</li>

				<li class="clearfix">
				<div class="lpl-img">
					<a href="blog-single.html" rel="bookmark">
						<img width="66" height="66" src="images/blog-thumb3.jpg" alt="" />
					</a>
				</div>
				<div class="lpl-content">
					<h6><a href="blog-single.html" rel="bookmark">Dasellus ac nibh urna donec 
							ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
				</div>
				</li>
			</ul>
		</div>
	             </li>
			</ul>
</div>
 
