<div class="section">

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">更改管理员密码</h2>

		<%= render 'form' %>

		</li>
	</ul>
</div>
