<div class="section">

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">更新成功</h2>

<!--		<style type="text/css" </style>
		#notice {
		display: none:
		}
	</style>
	-->
	<p>
	<b>管理员:</b>
	<%= @administrator.username %>
	</p>

	<p>
	<b>密文密码：</b>
	<%= @administrator.password_digest %>
	</p>

	</li>
</ul>
</div>
