<div class="section">                                                                                                                                                    

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">编辑商品信息</h2>

		<%= render 'form' %>

		<%= link_to '详细信息', @film ,:class=>"button2"%>
		<%= link_to '返回', films_path ,:class=>"button2"%>

		</li>
	</ul>
</div>
