<div class="section">                                                                                                                                                    

	<ul class="columns-content page-content clearfix">

		<!-- BEGIN .col-main -->
		<li class="col-main">

		<h2 class="page-title">添加新的商品</h2> 

		<%= render 'form' %>

		<%= link_to '返回', films_path ,:class=>"button2" %>
		</li>
	</ul>
</div>
